[submodule "3rdparty/boost"]
	path = 3rdparty/boost
	url = ssh://sifs-coast1.hsr.ch/var/repositories/git/boost.git
[submodule "3rdparty/loki"]
	path = 3rdparty/loki
	url = ssh://sifs-coast1.hsr.ch/var/repositories/git/loki.git
[submodule "3rdparty/zlib"]
	path = 3rdparty/zlib
	url = ssh://sifs-coast1.hsr.ch/var/repositories/git/zlib.git
[submodule "3rdparty/openssl"]
	path = 3rdparty/openssl
	url = ssh://sifs-coast1.hsr.ch/var/repositories/git/openssl.git
[submodule "3rdparty/iplanet_ldap"]
	path = 3rdparty/iplanet_ldap
	url = ssh://sifs-coast1.hsr.ch/var/repositories/git/iplanet_ldap.git
[submodule "3rdparty/mysql"]
	path = 3rdparty/mysql
	url = ssh://sifs-coast1.hsr.ch/var/repositories/git/mysql.git
[submodule "3rdparty/sybase"]
	path = 3rdparty/sybase
	url = ssh://sifs-coast1.hsr.ch/var/repositories/git/sybase.git
[submodule "3rdparty/cute"]
	path = 3rdparty/cute
	url = ssh://sifs-coast1.hsr.ch/var/repositories/git/cute.git
[submodule "site_scons"]
	path = site_scons
	url = ssh://sifs-coast1.hsr.ch/var/repositories/git/sconsider.git
[submodule "scripts"]
	path = scripts
	url = ssh://sifs-coast1.hsr.ch/var/repositories/git/wdscripts.git
